* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: hsl(218, 44%, 22%);
  flex-direction: column;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  align-items: center;
  max-width: 1200px;
  height: 450px;
  width: 280px;
  flex-wrap: wrap;
  padding: 15px;
  text-align: center;
}

.card__header .card__img {
  height: 250px;
  width: calc(280px - 30px);
  border-radius: 10px;
}

.card__lead {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 20px;
}

.card__quote {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  opacity: 50%;
}

footer {
  position: fixed;
  bottom: 0;
  background: #fff;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

footer a {
  text-decoration: none;
}
